<%-include("partials/header")-%>

<h1>About</h1>

<p>Hey everyone it is my honour for having the oppurtunity to introduce myself to you.  I am currently pursuing my
    bachelor's in Manipal University Jaipur . I like teaching a lot cause  I believe gainig knowledge is the path to wisdom
    whereas sharing it is the path to humanity . I have been a c++ mentor in IEEE MUJ for the past year and have had the privilege to impart the same
    to my juniors. In affect to this I even have been freelancing at Chegg Inc. as a Computer Science Expert and have solved over 400 questions related
    to my domain. I have a passion for working which drives me and so the tech stack or the domain doesn't interest me in general but the project or the
    work being done in that repect drives me and I thrive on it. Apart from this I do sing and dance and have been playing the ukulele for quite some time 
    now. I do meditate and occasionally read books and spend  time binge watching series.Probably a habit I'll have to change going forward 😜 .I do like
    travelling a lot and have a penchant for learning vocabulary.</p>

<%-include("partials/footer")-%>