<%-include("partials/header")-%>

<h1>Contact</h1>

<p>With the advent of web 3.0 I believe the present technologies are gonna be obsolete to some degree . Reach out to me 
     If you wanna talk about tech, NFTs,
    metaverse etc . I'll be happy to address your concerns and in the same time will be looking 
    forward to learning from you
    </br></br>
    Mobile No. - +919776652513
    </br></br>
    Mail Id - pgarg11022001@gmail.com
</br></br>
Github - <a href="https://github.com/PradumnGarg">Check out!!</a>
</br></br>
Linked In- <a href="https://www.linkedin.com/in/pradumn-garg-0894b81b4/">Check out!!</a>
</br></br>
Instagram- <a href="https://www.instagram.com/pgarg4050/">Cheeck out!!</a>
</p>

<%-include("partials/footer")-%>